<div class="flex-col align-center">
  <button>
    <span style="font-weight: 600;" class="flex align-center justify-center">
      <img src="../../assets/icons/Vector.png">
      PREUZMI SADRŽAJ
    </span>
  </button>

  <div class="flex justify-between w-100" style="margin-bottom: 30px;">
    <button style="margin-right: 1rem;">
      <span>Pošalji u sustav</span>
    </button>
    <button>
      <span>Pošalji u CMS</span>
    </button>
  </div>

  <button class="btn-dark" style="margin-bottom: 15px;">
    <span>
      <img src="../../assets/icons/shopping cart 1.png">
      DODAJ U KOŠARICU
    </span>
  </button>

  <button class="outline">
    <span class="flex align-center justify-center">
      <img src="../../assets/icons/Vector.png">
      Preuzmi pregledni primjerak
    </span>
  </button>
</div>
